<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theater.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @theater.adress %>
</p>

<%= link_to 'Edit', edit_theater_path(@theater) %> |
<%= link_to 'Back', theaters_path %>
